.body {
    background-position: bottom calc(100vw / 2.99) right;
    background-size: calc(100vw / 5.55) calc(100vw / 3.17);
    overflow-x: hidden;
}

.upperSection {
    height: calc(100vw / 1.89);
    background-image: url('../assets/images/pandaBgZoo3.jpg');
}

.desk640 {
    display: none !important
}

.burgerNav {
    height: calc(100vw / 1.945);
}

.burgerNavList {
    margin: calc(100vw / 64) 0px 0px calc(100vw / 64);
}

.burgerLogo {
    width: calc(100vw / 11.04);
    height: calc(100vw / 17.81);
    border: calc(100vw / 673.17) solid #FE9013;
    font-size: calc(100vw / 42.07);
    margin-bottom: calc(100vw / 21.05);
}
.burgerNavLinkCell {
    margin: calc(100vw / 42.67) 0px calc(100vw / 42.67) 0px;
}

.burgerLink {
    font-size: calc(100vw / 40);
}

.burgerCloseBtn {
    margin: calc(100vw / 42.67) calc(100vw / 42.67) 0px 0px;
}

.burgerClose {
    width: calc(100vw / 32);
    height: calc(100vw / 32);
}

.backgroundBlur {
    height: calc(100vh - 100vw / 1.945);
}

.header {
    height: 34px;
    position: fixed;
    z-index: 5;
    top: 0px;
    margin: 0px;
}

.logo {
    border: #FE9013 solid 0.8px;
    color: #FE9013;
    border-radius: 2px;
    font-size: 15.21px;
    width: 65.6px;
    height: 41.6px;
    margin: 10px auto 15px 10px;
}

.bambooLogo {
    position: absolute;
    width: 9.58px;
    height: 14.59px;
    top: 13.99px;
    left: 1.54px;
}

.copyrightCell {
    margin-top: 15px;
}

.copyright {
    color: #333B41;
    width: 104px;
    height: 22px;
    font-size: 16px;
}

.navHeaderMob {
    position: relative;
    width: 93.75%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
}

.lgMob {
    position: relative;
    display: block;
    width: 47px;
    height: 29px;
    margin-right: 0px;
}

.logoHeaderMb {
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12.29px;
    font-weight: 400;
    width: 47px;
    height: 20px;
    margin: 2.29px 0px 0px 0px;
    line-height: 120%;
}

.burgerMenu {
    width: 18px;
    height: 10px;
}

.burgerImg {
    height: 10px;
    margin-top: 2px;
}

.online {
    margin-top: 34px;
    height: calc(100vw / 1.89);
}

.titleHeader {
    position: relative;
    z-index: 2;
    width: calc(100vw / 2.5);
    height: calc(100vw / 3.13);
    font-size: calc(100vw / 11.79);
    font-weight: 700;
    line-height: 75%;
    padding: calc(100vw / 13.32) 0px 0px 0px;
    margin: 0px 0px 0px calc(100vw / 1.74);
}

.button {
    width: calc(100vw / 2.148);
    height: calc(100vw / 11.85);
    border-radius: calc(100vw / 25.6);
    font-size: calc(100vw / 40);
    letter-spacing: -1px;
}

.buttonHeader {
    margin-left: calc(100vw / 31.67);
    margin-top: calc(100vw / 90 / (-1));
}

.onlineCircleBg {
    z-index: 1;
    left: calc(100vw / 1.93);
    top: calc(100vw / 14.47);
    width: calc(100vw / 2.69);
    height: calc(100vw / 2.69);
}

.backstageSecion {
    background-image: url('../assets/images/bgFlower.jpg');
    background-repeat: no-repeat;
    background-position: top calc(100vw / 128 / (-1)) right calc(100vw / 6.21 / (-1));
    background-size: calc(100vw / 2.77) calc(100vw / 1.34);
}

.backstageSecionCell {
    margin-left: calc(100vw / 32);
    width: calc(100vw / 1.29);
    height: calc(100vw / 1.74);
    padding-top: calc(100vw / 10.67);
    padding-bottom: calc(100vw / 8);
}

.backstageImage {
    display: none;
}

.backstageTextBlock {
    width: 100%;
    height: 100%;
    font-weight: 400;
}

.backstageTitle {
    font-size: calc(100vw / 13.33);
    font-weight: 400;
    margin: 0px 0px calc(100vw / 32) calc(100vw / 160);
    letter-spacing: 0px;
}

.backstageText {
    font-size: calc(100vw / 40);
    line-height: 130%;
}

.backstageText2 {
    font-size: calc(100vw / 40);
    line-height: 140%;
    letter-spacing: 0px;
}

.backstageTitleSub {
    font-size: calc(100vw / 26.67);
    font-weight: 400;
    margin: calc(100vw / 21.333) 0px calc(100vw / 32) calc(100vw / 160);
}

.animalCardsSection {
    background-position: bottom  right, bottom left calc(100vw / 2.55 / (-1));
    background-size: calc(100vw / 3.657) calc(100vw / 4.885), calc(100vw / 1.66) calc(100vw / 3.17);
}

.animalCardsSectionCell {
    margin: 0px auto;
    position: relative;
    width: calc(100vw / 1.07);
    height: calc(100vw / 0.85);
}

.animalCardsCell {
    height: 100%;
}

.arrow {
    position: absolute;
    width: calc(100vw / 10.32);
    height: calc(100vw / 10.32);
    margin: calc(100vw / 1.866) 0px auto 0px;
}

.leftArrow {
    left: calc(100vw / 2.87);
}

.rightArrow {
    right: calc(100vw / 2.87);
}

.arrowImage {
    margin: calc(100vw / 23.7) auto;
    width: calc(100vw / 40);
    height: calc(100vw / 80);
}

.animalCards {
    width: 100%;
    height: 100%;
    align-content: space-between;
}

.card {
    width: calc(100vw / 2.246);
    margin: 0px;
    height: calc(100vw / 1.93);
    border-radius: calc(100vw / 128);
}

.card:hover > .imageCard {
    transform: translateY(calc(100vw / 32)) scale(1.14);
}

.card:hover > .textCard {
    transform: translateX(calc(100vw / (-250))) translateY(calc(100vw / 250)) scale(1.22);
}

.imageCard {
    height: calc(100vw / 2.246);
    border-radius: calc(100vw / 164.24) calc(100vw / 164.24) 0px 0px;
}

.textCard {
    width: calc(100vw / 2.4);
    height: calc(100vw / 21.64);
    margin: calc(100vw / 122.56) calc(100vw / 70.25) 0px calc(100vw / 51.32);
}

.titleCard {
    height: calc(100vw / 37.65);
    letter-spacing: -0.5px;
    font-size: calc(100vw / 51.32);
    font-weight: 500;
}

.descrCard {
    height: calc(100vw / 37.65);
    font-size: calc(100vw / 51.32);
    font-weight: 300;
}

.foodCardPlant {
    width: calc(100vw / 24.88);
    height: calc(100vw / 22.19);
    padding-left: 10px;
}

.foodCardMeat {
    width: calc(100vw / 17.11);
    height: calc(100vw / 21.61);
}

.buttonAnimal {
    margin: calc(100vw / 10.67) auto calc(100vw / 6.4) auto;
}

.pickFeedSection {
    height: calc(100vw/ 0.838);
    padding-top: calc(100vw / 32);
}

.pickFeedContainer {
    width: 100vw;
    height: calc(100vw / 0.86);
    margin: 0px auto;
    border-radius: calc(100vw / 32);
}

.pickFeedTitle {
    height: calc(100vw / 12.8);
    margin: calc(100vw / 64) auto calc(100vw / 32) auto;
    font-size: calc(100vw / 15.24);
    font-weight: 400;
}

.pickFeedSubtitle {
    width: calc(100vw / 1.07);
    height: calc(100vw / 12.31);
    font-size: calc(100vw / 29.09);
    font-weight: 400;
    margin: 0px auto calc(100vw / 32) auto;
}

.pickFeedTextCovid {
    width: calc(100vw / 1.07);
    height: calc(100vw / 15.24);
    margin: 0px auto;
    font-size: calc(100vw / 40);
    font-weight: 500;
    line-height: 130%;
}

.pickFeedText {
    width: calc(100vw / 1.07);
    height: calc(100vw / 15.24);
    font-size: calc(100vw / 40);
    font-weight: 400;
    line-height: 130%;
    margin: calc(100vw / 64) auto calc(100vw / 21.33) auto;
}

.pickFeedSecondTitle {
    width: calc(100vw / 3.06);
    height: calc(100vw / 13.62);
    font-size: calc(100vw / 17.78);
    font-weight: 400;
}

.widjetBlock {
    position: relative;
    width: calc(100vw / 1.09);
    height: calc(100vw / 2.62);
    margin: calc(100vw / 32) calc(100vw / 20) calc(100vw / 15.5) calc(100vw / 32);
}

.widjetCard {
    width: calc(100vw / 3.81);
    height: calc(100vw / 2.62);
}

.widjetImageContainer {
    height: calc(100vw / 3.81);
    border-radius: calc(100vw / 128);
    border: 1px solid #F9804B;
}

.widjetCardIext {
    margin-top: calc(100vw / 21.33);
    font-size: calc(100vw / 40);
    font-weight: 400;
    line-height: 140%;
}

.pickFeedArrow640 {
    width: calc(100vw / 7.2);
    height: calc(100vw / 6.88);
    position: absolute;
    top: calc(100vw / 14 / (-1));
}

.firstArr {
    left: calc(100vw / 4.67);
}

.secArr {
    left: calc(100vw / 1.855);
}

.iconCard {
    height: calc(100vw / 10.67);
    width: calc(100vw / 5.926);
    padding-top: calc(100vw / 11.85);
}

.iconZoo {
    height: calc(100vw / 6.74);
    width: calc(100vw / 7.46);
    padding-top: calc(100vw / 16.84);
}

.iconBanana {
    height: calc(100vw / 8.94);
    width: calc(100vw / 5.13);
    padding-top: calc(100vw / 13.33);
}

.testomonialSection {
    width: 100vw;
    height: calc(100vw / 1.053);
    padding-top: calc(100vw / 10.67);
    margin: 0px;
}

.testomonialTitle {
    font-size: calc(100vw / 17.78);
    font-weight: 400;
}

.testimonialScroll {
    width: calc(100vw / 1.07);
    height: calc(100vw / 1.792);
    margin: calc(100vw / 21.333) auto calc(100vw / 15) auto;
    flex-direction: column;
}

.testimonialCard {
    width: 100%;
    height: calc(100vw / 5.871);
    border-radius: calc(100vw / 32);
    margin: 0px;
}

.testimonialHead {
    margin: calc(100vw / 42.67) auto calc(100vw / 58.18) calc(100vw / 53.33);
}

.testimonialUserIcon {
    width: calc(100vw / 17.3);
    height: calc(100vw / 17.3);
    margin-right: calc(100vw / 64);
}

.testimonialUserName {
    height: calc(100vw / 33.68);
    font-size: calc(100vw / 40);
    font-weight: 400;
}

.testimonialUserLocation {
    height: calc(100vw / 35.56);
    font-size: calc(100vw / 42.67);
    font-weight: 300;
}

.testimonialText {
    width: calc(100vw / 1.13);
    height: calc(100vw / 16.84);
    margin: 0px 0px 0px calc(100vw / 35.56);
    font-size: calc(100vw / 42.67);
    line-height: 120%;
    font-weight: 300;
    overflow-y: hidden;
}

.popupBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
    z-index: 7;
}
.popupBgactive { 
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 50vw;
    height: calc(100vw / 1.50);
    transition: 0.5s all;
}

.popupActive {
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
}

.testimonialCardPopup {
    width: calc(100vw / 2.40);
    height: calc(100vw / 1.64);
    border-radius: calc(100vw / 32);
    border: #FEBDABBD solid 1px;
    background-color: #F1F3F2;
    margin: calc(100vw / 32) auto auto calc(100vw / 37.65);
}

.testimonialHeadPopup {
    margin: calc(100vw / 42.67) auto calc(100vw / 58.18) calc(100vw / 42.66);
    display: flex;
}

.testimonialUserIconPopup {
    width: calc(100vw / 17.3);
    height: calc(100vw / 17.3);
    margin-right: calc(100vw / 64);
}

.testimonialUserNamePopup {
    height: calc(100vw / 33.68);
    font-size: calc(100vw / 40);
    font-weight: 400;
    color: #000000;
}

.testimonialUserLocationPopup {
    display: flex;
    height: calc(100vw / 35.56);
    font-size: calc(100vw / 42.67);
    font-weight: 300;
    color: #BDBDBD;
}

.testimonialTextPopup {
    width: calc(100vw / 2.7);
    height: calc(100vw / 2.07);
    margin: 0px 0px 0px calc(100vw / 35.56);
    font-size: calc(100vw / 42.67);
    line-height: 120%;
    font-weight: 300;
    overflow-y: hidden;
    color: #767474;
}

.popupImg {
    width: calc(100vw / 45.71);
    height: calc(100vw / 45.71);
    margin: calc(100vw / 53.33) calc(100vw / 64) auto auto;
    background-image: url('../assets/icons/burgerClose.svg');
}

.button2 {
    height: calc(100vw / 11.85);
    border-radius: calc(100vw / 128);
    font-size: calc(100vw / 40);
    font-weight: 500;
    letter-spacing: -1px;
}

.buttonTestimonial {
    margin-left: calc(100vw / 3.2);
    width: calc(100vw / 2.67);
}

.footer {
    height: calc(100vw / 2.27);
}

.footerLeft {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100vw / 4.64);
    width: calc(100vw / 1.06);
    margin: 0px;
}

.lgFooterMob {
    position: relative;
    display: block;
    width: calc(100vw / 7.8);
    height: calc(100vw / 12.31);
    margin-right: 0px;
    border: 0.5px solid #FFFFFF;
    border-radius: calc(100vw / 320);
}

.logoFooterMb {
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: calc(100vw / 33.67);
    font-weight: 400;
    width: calc(100vw / 7.8);
    height: calc(100vw / 12.31);
    margin: 2.29px 0px 0px 0px;
    line-height: 120%;
}

.bambooLogo2 {
    position: absolute;
    width: calc(100vw / 46.31);
    height: calc(100vw / 28.36);
    top: calc(100vw / 28.27);
    left: calc(100vw / 55);
}

.footerCell {
    flex-direction: column;
    position: relative;
    margin: 0px auto;
    width: calc(100vw / 1.06);
    padding: calc(100vw / 49.23) 0px 0px 0px;
}

.footerSocList {
    flex-direction: column;
}  

.footerSocList {
    position: absolute;
    top: 0px;
    right: 0px;
}

.footerSocCell {
    height: calc(100vw / 24.615);
    margin-bottom: calc(100vw / 32);
}

.buttonFooter {
    margin: calc(100vw / 20) 0px 0px 0px;
    width: calc(100vw / 2.15);
}

.iconFooterBg {
    width: calc(100vw / 24.615);
    height: calc(100vw / 24.615);
}

.iconFacebook {
    width: calc(100vw / 80);
    height: calc(100vw / 40);
    padding-top: calc(100vw / 128);
}

.iconTwitter {
    width: calc(100vw / 40);
    height: calc(100vw / 45.71);
    padding-top: calc(100vw / 106.67);
}

.iconInstagramm {
    width: calc(100vw / 40);
    height: calc(100vw / 40);
    padding-top: calc(100vw / 128);
}

.iconYouTube {
    width: calc(100vw / 35.56);
    height: calc(100vw / 49.27);
    padding-top: calc(100vw / 106.67);
}

.footerSocText {
    height: calc(100vw / 45.45);
    margin-left: calc(100vw / 83.33);
    font-size: calc(100vw / 62.5);
    font-weight: 400;
    line-height: 140%;
}

.footerCenter {
    width: calc(100vw / 2.15);
    height: calc(100vw / 29.09);
    padding-top: calc(100vw / 6.6);
}

.footerLink {
    font-size: calc(100vw / 40);
    font-weight: 400;
}

.footerRight {
    position: absolute;
    left: calc(100vw / 1.72);
    top: calc(100vw / 2.97);
}

.designText {
    width: calc(100vw / 2.81);
    height: calc(100vw / 30.48);
    font-size: calc(100vw / 40);
    font-weight: 100;
    margin: 5px 0px;
}